/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    * {
    padding: 0;
    margin: 0;
    }
    body {
        font-family: 'M PLUS 1p', sans-serif;
        font-family: 'Comfortaa', cursive;
    }

    header {
    background-color:  #9c7c5f;
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'M PLUS 1p', sans-serif;
    }
    header a {
    color: white; 
    text-decoration: none; 
    font-family: 'Comfortaa', cursive;
    }
    header h1 {
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    }
    .header-list {
    display: flex;
    align-items: center;
    font-family: 'Shippori Antique', sans-serif;
    
    }
    header ul {
    display: flex;
    font-family: 'M PLUS 1p', sans-serif;
    }
    header li {
    list-style: none;
    margin-right: 40px;
    }


    footer {
        color: white;
        height: 30px;
        background-color: #9c7c5f;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: flex-end;
        } 
