#first-blockedit{
    width: 100%;
    height: 100px;
    padding: 50px;
    text-align: center;
}

#secound-blockedit{
    padding: 100px;
    padding-bottom: 10rem;
}

.room-container{
    font-family: 'Comfortaa', cursive;
    font-family: 'M PLUS 1p', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px  

}

.botan{
    justify-content: center;
}
.field{
    padding:50px;
}

.image{

}

.new{
    margin-bottom: 170px;
}
